<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="navbar-brand text-white h4" href="/static">Heroes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${session.user == null || session.user.username == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/home">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/register">Register</a>
                    </li>
                </th:block>

                <th:block th:unless="${session.user == null || session.user.username == null}">

                    <th:block
                            th:unless="${session.user.heroName == null}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/items/merchant">Merchant</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/items/create">Create Item</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/heroes/details/SoulTaker">Hero</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/logout">Logout</a>
                        </li>
                    </th:block>

                    <th:block
                            th:if="${session.user.heroName == null}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/items/create">Create Item</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/heroes/create">Create Hero</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/logout">Logout</a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </nav>
</header>